body {
  background-color: #AD69DF;
  overflow-y: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.RightFalse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.div1 { grid-area: 1 / 2 / 2 / 3; font-weight: bold;}
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3,  [id="4"], [id="7"] { grid-area: 3 / 1 / 4 / 2; border-radius: 10px; background-color: #AD69DF;padding: 10px; cursor: pointer;}
.div4,  [id="5"], [id="8"] { grid-area: 3 / 3 / 4 / 4; border-radius: 10px; background-color: #AD69DF;padding: 10px; cursor: pointer;}
.div3:active , [id="4"]:active, [id="7"]:active { opacity: 0.5;}
.div4:active , [id="5"]:active, [id="8"]:active { opacity: 0.5;}


.nextBtn {
  margin-top:10px !important; border-radius: 10px; background-color: white;padding: 10px; cursor: pointer ; width: fit-content; margin:auto;
}
.nextBtn:active {
 background-color: grey;
}

